body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    background-color: rgb(131, 122, 184);
   
}

.gift-button img { 
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s;

}

.gift-button:hover img {
    transform: scale(1,1);
}